#time {
    font-size: 80px;
}

button {
    display: inline-block;
    padding: 20px;
    font-weight: bold;
    background-color: aliceblue;
}

button:hover {
    cursor:pointer;
    background-color: rgba(240, 248, 255, 0.537);
}

button:disabled {
    cursor: default;
    background-color: rgba(240, 248, 255, 0.537);
}